<footer class="footer mt-auto py-3 bg-light text-center">
    <div class="mediatheque-footer-container">
        <span class="text-muted">Médiathéque de La Chapelle-Curreaux</span>
    </div>
</footer>