<nav class="text-center app-pagination" aria-label="Page Navigation">
    <ul class="list-inline">
        {% if page > 1 %}
            <li class="list-inline-item float-sm-left">
                <a class="g-rounded-50"
                   href="{{ path(route, {'page': page - 1}) }}" aria-label="Previous">
                    <span aria-hidden="true">
                        <i class="fas fa-arrow-left"></i> Précédent
                    </span>
                    <span class="sr-only">Précédent</span>
                </a>
            </li>
        {% endif %}

        {% for i in 1..pages %}
            <li class="list-inline-item g-hidden-sm-down">
                <a class="{% if page == i %}active{% endif %} g-rounded-50 "
                   href="{{ path(route, {'page': i}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% if page != pages %}
            <li class="list-inline-item float-sm-right page-item">
                <a class="g-rounded-50 "
                   href="{{ path(route, {'page': page + 1}) }}" aria-label="Next">
                    <span aria-hidden="true">
                        Suivant <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="sr-only">Suivant</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>