{% extends 'base.html.twig' %}

{% block title %}Borrow index{% endblock %}

{% block main %}
    <h1>Borrow index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for borrow in borrows %}
                <tr>
                    <td>{{ borrow.id }}</td>
                    <td>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_borrow_new') }}">Create new</a>
{% endblock %}
