{% extends 'base.html.twig' %}

{% block title %}Modifier le livre {{ book.title }}{% endblock %}

{% block body_id 'book_edit' %}

{% block main %}
    <div class="container">
        <h1>Modifier le livre</h1>

        {{ include('book/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
