{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block main %}
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for book in books %}
                    <div class="col-md-4">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{ book.title }}</title>
                                <rect width="100%" height="100%" fill="#55595c"/>
                                {# <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ asset(book.coverFile) }}</text> #}
                            </svg>

                            <div class="card-body">
                                <p class="card-text">{{ book.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Voir le livre
                                        </button>

                                        {% if is_granted('ROLE_ADMIN') %}
                                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                                Modifier le livre
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
