{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block body_id 'book_add' %}

{% block main %}
    <div class="container">
        <h1>Ajouter un nouveau livre</h1>

        {{ include('book/_form.html.twig') }}

        <a href="{{ path('app_catalog') }}">Retour à la médiatheque</a>
    </div>
{% endblock %}
