@import "~bootswatch/dist/materia/bootstrap.min.css";
@import "forms";

body {
    .mediatheque-header-container {

        a {
            text-decoration: none !important;
        }

        img {
            height: 30px;
            border-radius: 50%;
        }
    }

    div.container, div.container-fluid {
        margin-top: 20px;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}