@import "~bootswatch/dist/materia/bootstrap.min.css";
@import "forms";
@import "book/book";

body {
    .mediatheque-header-container {
        a {
            text-decoration: none !important;
        }

        img {
            height: 30px;
            border-radius: 50%;
        }

        .med-nav-links {
            width: 100%;
        }
    }

    main {
        min-height: calc(100vh - 200px) !important;
    }

    div.container, div.container-fluid {
        margin-top: 20px;
    }

    //footer {
    //    position: absolute !important;
    //    bottom: 0 !important;
    //    width: 100% !important;
    //}
}