<!doctype html>
<html lang="en">
    <head>
        <title>Confirmation de reservation</title>
    </head>
    <body>
        <p>
            Bonjour {{ borrower.firstname }}, <br>
            Nous avons bien récu votre réservation du livre <strong>{{ book.title }}</strong>, on vous le bloque pendant
            3 jours,
            <br>
            Au bout de 3 jours il sera de nouveau disponible à la reservation, pensez à venir le recuperer avant.
        </p>
    </body>
</html>