<!doctype html>
<html lang="en">
    <head>
        <title>Compte validé</title>
    </head>
    <body>
        <p>

            Bonjour {{ resident.firstname }},<br>
            Ton compte sur la Mediatheque vient d'être validé, tu pex à present te connecter. <br>
            <a href="{{ absolute_url(path('app_login')) }}">Me connecter</a>

        </p>
    </body>
</html>