{% extends 'base.html.twig' %}

{% block title %}admin - Modifier le livre {{ book.title }}{% endblock %}

{% block seo %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block body_id 'book_edit_admin' %}

{% block main %}
    <div class="container">
        <h1>Modifier le livre</h1>

        {{ include('admin/book/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
