@import "catalog";
@import "show";

#book_add {
    .invalid-feedback {
        color: #fff !important;
    }
}

#book_genre {
    display: flex !important;

    .form-check {
        margin-right: 15px;
    }
}

#book_show {
    .mediatheque-book-not-available {
        position: relative;
        bottom: 25px;
        left: 15px;
        color: #fff;
        background: red;
        border-radius: 15px
    }
}
